
@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

@*Chamando os dados da ClienteController*@


<p>@ViewBag.Nome</p>
<p>@ViewBag.ClienteId</p>
<p>@ViewBag.MaquinaId</p>
<p>@ViewBag.SistemaOperacional</p>
<p>@ViewBag.FreeHD</p>
<p>@ViewBag.UsedHD</p>
<p>@ViewBag.FreeRam</p>
<p>@ViewBag.UsedRam</p>



