@model IEnumerable<FishScale.Models.Cliente>

<p>
    @Html.ActionLink("Adicionar Novo Cliente", "IncluirCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QtdeMaquinas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertaRam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QtdeMaquinas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertaRam)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarCliente", new { id=item.ClienteID }) |
            @Html.ActionLink("Excluir", "ExcluirCliente", new { id=item.ClienteID })
        </td>
    </tr>
}

</table>
