@model IEnumerable<FishScale.Models.Monitoracao>

<h3>Monitoração em Tempo Real</h3>
<p>
    @Html.ActionLink("Alertas em tempo real", "ObterAlertas")
</p>
<table class="table">
    <tr>
        <th>
            Id Monitoração
        </th>
        <th>
            Ram Total
        </th>
        <th>
            Swap Total
        </th>
        <th>
            Swap em Uso
        </th>
        <th>
            Ram em Uso
        </th>
        <th>
            Horario
        </th>
        <th>
            Id Máquina
        </th>
        <th>
           Id Cliente
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonitoraID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraMonitoracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaquinaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteID)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
